#notification-bar
    background-color #ddd
    max-height 10em
    transition max-height 300ms

    .container
        padding 0.5em 1em
        margin 0 auto

        .message
            color #444

        .accept
            color #888
            float right
            cursor pointer

    &.closed
        max-height 0
