#notification-bar
    background-color #ddd
    max-height 10em
    transition max-height 300ms
    display flex

    .message
        padding 0.5em 1em
        margin 0 auto
        color #444

    a.accept
        color #888
        width auto
        padding 0.5em 1em
        float right
        &:hover
            color #555

    &.closed
        max-height 0
