.notificationBar-container
    background-color #ddd
    max-height 10em
    transition max-height 300ms
    display flex
    overflow hidden

    .message
        padding 0.5em 1em
        color #444
        flex-grow 1

    a.accept
        color #888
        width auto
        padding 0.5em 1em
        &:hover
            color #555

    &.closed
        max-height 0
